.textArea {
    background-color: black;
    border-color: lightblue;
    border-width: 2px;
    color: white;
    width: 100%;

}
.textArea::-webkit-input-placeholder {
    color: lightgray;
}
.textArea:hover {
    background-color: black;
    color: white;
    border-width: 2px;
    border-color: lightblue;
    
}